etc/SciPass.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SciPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch" maxOccurs="unbounded" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="domain" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="port" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="prefix" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:int" name="of_port_id" use="required"/>
                        <xs:attribute type="xs:string" name="type" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sensor_group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sensor" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:int" name="of_port_id" use="required"/>
                                  <xs:attribute type="xs:string" name="sensor_id" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>	
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="bw" use="required"/>
			<xs:attribute type="xs:string" name="name" use="optional"/>
                        <xs:attribute type="xs:string" name="group_id" use="required"/>
                        <xs:attribute type="xs:string" name="admin_state" use="required"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name" use="optional"/>
                  <xs:attribute type="xs:string" name="mode" use="required"/>
                  <xs:attribute type="xs:string" name="admin_status" use="required"/>
                  <xs:attribute type="xs:int" name="least_specific_prefix_len" use="required"/>
                  <xs:attribute type="xs:int" name="most_specific_prefix_len" use="required"/>
		  <xs:attribute type="xs:int" name="ipv6least_specific_prefix_len" use="required"/>
                  <xs:attribute type="xs:int" name="ipv6most_specific_prefix_len" use="required"/>
                  <xs:attribute type="xs:int" name="blacklist_priority" use="optional"/>
                  <xs:attribute type="xs:int" name="whitelist_priority" use="optional"/>
		  <xs:attribute type="xs:string" name="ignore_sensor_load" use="optional"/>
                  <xs:attribute type="xs:float" name="sensor_min_load_threshold" use="optional"/>
                  <xs:attribute type="xs:float" name="sensor_load_delta_threshold" use="optional"/>
		  <xs:attribute type="xs:float" name="sensor_configurable_threshold" use="optional"/>
                  <xs:attribute type="xs:int" name="max_prefixes" use="required"/>
                  <xs:attribute type="xs:int" name="max_flow_count" use="required"/>
                  <xs:attribute type="xs:int" name="idle_timeout" use="optional"/>
                  <xs:attribute type="xs:int" name="hard_timeout" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
		<xs:attribute type="xs:string" name="dpid" use="required"/>
             	<xs:attribute type="xs:string" name="name" use="optional"/>
	  </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>