etc/SciPass.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SciPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="switch">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="domain">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="port" maxOccurs="unbounded" minOccurs="0">
                      <xs:annotation>
                        <xs:documentation>this is my main wan port</xs:documentation>
                      </xs:annotation>
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="prefix" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="type" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="of_port_id" use="required"/>
                        <xs:attribute type="xs:string" name="type" use="required"/>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="description" use="required"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="sensor_group" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="sensor" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:byte" name="of_port_id" use="required"/>
                                  <xs:attribute type="xs:string" name="sensor_id" use="required"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="bw" use="required"/>
                        <xs:attribute type="xs:string" name="group_id" use="required"/>
                        <xs:attribute type="xs:string" name="admin_state" use="required"/>
                        <xs:attribute type="xs:string" name="description" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:string" name="name"/>
                  <xs:attribute type="xs:string" name="mode"/>
                  <xs:attribute type="xs:string" name="admin_status"/>
                  <xs:attribute type="xs:byte" name="least_specific_prefix_len"/>
                  <xs:attribute type="xs:byte" name="most_specific_prefix_len"/>
                  <xs:attribute type="xs:short" name="blacklist_priority"/>
                  <xs:attribute type="xs:short" name="whitelist_priority"/>
                  <xs:attribute type="xs:float" name="sensor_min_load_threshold"/>
                  <xs:attribute type="xs:float" name="sensor_load_delta_threshold"/>
                  <xs:attribute type="xs:short" name="max_prefixes"/>
                  <xs:attribute type="xs:short" name="max_flow_count"/>
                  <xs:attribute type="xs:byte" name="idle_timeout"/>
                  <xs:attribute type="xs:short" name="hard_timeout"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="dpid"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>